<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻，人民应知而未知之事</title>
    <link rel="stylesheet" href="bower_components/bootswatch/cosmo/bootstrap.min.css">
    <!--<link rel="stylesheet" href="bower_components/bootswatch/cosmo/">-->
    <link rel="stylesheet" href="client/frontend/build/css/main.min.css">
    <script src="bower_components/bower-angularjs/angular.min.js"></script>
    <script src="bower_components/bower-angularjs/angular-route.min.js"></script>
    <script src="bower_components/bower-angularjs/angular-sanitize.min.js"></script>

</head>

<body ng-app="myApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#index">首页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#mli">军事<span class="sr-only">(current)</span></a></li>
                <li><a href="#ent">娱乐</a></li>
                <li><a href="#sci">科技</a></li>
                <li><a href="#gam">游戏</a></li>
                <li><a href="#edu">教育</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索" ng-model="keyword">
                </div>
                <select ng-model="orderProp">
                    <option value="-time">按时间排序</option>
                    <option value="-count">按热门程序排序</option>
                </select>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a  data-toggle="modal" data-target="#signUp">注册</a></li>
                <li><a href="#in">登录</a></li>
                <li><a href="#set">设置</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Button trigger modal -->


<!-- Modal -->

<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">请输入注册邮箱</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input id='user_name' class="form-control" placeholder="用户名:6个字符及以上">
          <p class="warn-info"></p>
          <input class="form-control"  type="password" placeholder="密码：6个字符及以上">
          <p class="warn-info"></p>
          <input class="form-control"  type="password" placeholder="重复输入密码">
          <p class="warn-info"></p>
          <input class="form-control"  type="email" placeholder="邮箱:只支持.com域名的邮箱">
          <p class="warn-info"></p>
        </div>


      </div>
      <div class="modal-footer">
          <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="sendCode" type="button" class="btn btn-primary">发送验证码</button>
          </div>
      </div>
    </div>
  </div>
</div>
<ng-view></ng-view>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!--app.js+controller.js+index.js//index.js依赖jQuery-->
     <script src="client/frontend/build/js/global.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>