<div></div>
<article>
        <div ng-repeat="article in articles |orderBy:orderProp">
            <img ng-src="{{article.imgUrl}}">
            <div class="panel panel-primary" >
                <div class="panel-heading" ng-click="getDetail($index)">
                    <h3 class="panel-title">{{article.title}}</h3>
                </div>
                <div class="panel-body">
                    {{article.author}}&nbsp;•&nbsp;{{article.time}}
                </div>
            </div>
        </div>
</article>
