<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">全站十大</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="hot in hots" ng-click="getDetail(hot)"><a href="{{hot.src}}" target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;[{{hot.typeCn}}]&nbsp;{{hot.title}}
                &nbsp;&nbsp;<span class="badge">{{hot.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">热门军事新闻</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="mli in mlis" ng-click="getDetail(mli)"><a href="{{mli.src}}" target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;{{mli.title}}
                &nbsp;&nbsp;<span class="badge">{{mli.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">热门科技新闻</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="sci in scis" ng-click="getDetail(sci)"><a href="{{sci.src}}"  target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;{{sci.title}}
                &nbsp;&nbsp;<span class="badge">{{sci.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">热门教育新闻</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="edu in edus" ng-click="getDetail(edu)"><a href="{{edu.src}}"  target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;{{edu.title}}
                &nbsp;&nbsp;<span class="badge">{{edu.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">热门游戏新闻</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="gam in gams" ng-click="getDetail(gam)"><a href="{{gam.src}}"  target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;{{gam.title}}
                &nbsp;&nbsp;<span class="badge">{{gam.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">热门娱乐新闻</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="ent in ents" ng-click="getDetail(ent)"><a href="{{ent.src}}"  target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;{{ent.title}}
                &nbsp;&nbsp;<span class="badge">{{ent.count}}</span></a>
            </li>
        </ul>
    </div>
</div>