<div id="indexBox">
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">全站十大</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="hot in hots" ng-click="getDetail(hot,hot.type)"><a href="" target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;[{{hot.typeCn}}]&nbsp;{{hot.title}}
                &nbsp;&nbsp;<span class="badge">{{hot.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-info" ng-repeat="type in types">
    <div class="panel-heading">
        <h3 class="panel-title">热门{{type.name}}新闻</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="x in type" ng-click="getDetail(x,x.type)"><a href="" target="_blank"><span class="rankDigit">{{$index+1}}</span>&nbsp;{{x.title}}
                &nbsp;&nbsp;<span class="badge">{{x.count}}</span></a>
            </li>
        </ul>
    </div>
</div>
</div>