<article>
        <div ng-repeat="article in articles |filter:keyword |orderBy:orderProp">
            <img ng-src="{{article.imgUrl}}">
            <div class="panel panel-primary" >
                <div class="panel-heading" ng-click="getDetail(article)">
                    <h3 class="panel-title">{{article.title}}</h3>
                </div>
                <div class="panel-body">
                    {{article.author}}&nbsp;•&nbsp;{{article.time}}<span>浏览量:<span class="badge">{{article.count}}</span></span>
                </div>
            </div>
        </div>
</article>
