<div id="up">
<header>
<div id="verifyEmail"><p>验证邮箱</p></div>
<span class="glyphicon glyphicon-chevron-right"></span>
<div><p>填写用户名及密码</p></div>
<span class="glyphicon glyphicon-chevron-right"></span>
<div><p>注册成功</p></div>
</header>
<article>
    <div class="process" ng-show="oneInProcess">
        <div><input placeholder="请输入邮箱号" ng-model="email"></div>
        <div><button class="btn btn-primary" ng-click="sendCode()">发送验证码</button></div>
        <div><input placeholder="请输入验证码"></div>
    </div>
    <div class="process" ng-show="twoInProcess">
       two
    </div>
    <div class="process" ng-show="threeInProcess">
       
    </div>

</article>
</div>